@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
    --mobile-size: 700px;
    --desktop-size: 1440px;

    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --graphic-design-text: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 19%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    font-size: 18px;
}

body {
    background-color: var(--white);
}

/* header */
header {
    background-image: url(../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px 20px;
}

header .container {

    width: 100%;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-menu {
    display: flex;
    align-items: center;
}

/* nav-items */
.nav-items {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    display: none;
}

.nav-items li {
    list-style: none;
    color: white;
    font-family: 'Barlow', sans-serif;
}

/* nav-toggle */
.nav-toggle {
    display: flex;
    flex-direction: column;
}

.nav-toggle>.bar {
    width: 30px;
    height: 3px;
    background-color: var(--white);
    margin: 2px 0;
}

/* header-content */
.header-content {
    
}

.header-content h1 {
    text-align: center;
    color: var(--white);
    font-family: 'Fraunces', 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: .5rem;
    line-height: 3.5rem;
}

.header-content img {
    
}



/* main */

/* section-1 */
#section-1>.text {
    text-align: center;
    padding: 30px 20px;
}

